
@model RoomManagement1.Models.Rooms;

@{ 
    Layout = "_Layout";
}

<!Doctype html>
<html>
<head>
    <title>bla</title>
    <link rel="stylesheet" href="~/css/Mystyles.css" />
    <style>
        .doors_wrapper{
            margin-top:7%;
            margin-left:5%;
            width:25%;
            height:400px;
            float:left;
        }
        body{
            background-color:black;
            text-align: center;
        }
        h2{
            margin-left:5%;
            color:white;  
        }
        .img_option{
            width:100%;
            height:200px;
        }

        #rooms{
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>

<body>
    <div id="rooms">
    @foreach (var item in Model.rooms)
    {
    <div class="card" style="width: 18rem; float: left;">
        <img class="card-img-top" src="~/img/door.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.Numer</h5>
            <p class="card-text">@item.Opis</p>
            @if (item.Zajete == false)
            {
                <p class="card-text" style="color:green;">Niezarezerwowana</p>
                <a href="#" class="btn btn-primary">Zarezerwuj</a>
            }
            @if (item.Zajete == true)
            {
                <p class="card-text" style="color:red;">Zarezerwowana</p>
            }
        </div>
    </div>
    }
    </div>

</body>
</html>
