@{
    ViewData["Title"] = "Wybierz";
    Layout = "_Layout";
}

<!Doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Mystyles.css" />
</head>

<body>
    <div id="Welcome">
        <h1 style="font-size:40px;margin-left:0%;">Wybierz co chcesz zrobić</h1>
    </div>

    <div id="options">
        <a href="#">Usuń istniejącą sale</a>
        <a href="@Url.Action("AddRoom", "Manage")" style="margin-left:35%;">Dodaj nową salę</a>
    </div>
</body>
</html>

