@{
    ViewData["Title"] = "Home Page";
}

<!Doctype html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/Mystyles.css"/>
    </head>

    <body>
        <div id="Welcome">
            <h1 style="font-size:50px;margin-left:25%;">Witaj</h1>
            <p style="margin-top:5%;font-size:20px;margin-left:-3%;">Oto prosta aplikacja do zarządzania salami. Co chcesz zrobić?</p>
        </div>

        <div id="options">
            <a href="Home/All">Zobacz wszystkie sale</a>
            <a href="Home/Choose" style="margin-left:12%;">Zarządzaj salami</a>
            <a href="Home/Rezerwacja" style="margin-left:17%;">Zarezerwuj sale</a>
        </div>
    </body>
</html>
