@{
    ViewData["Title"] = "Rezerwacja";
    Layout = "_Layout";
}
@model RoomManagement1.Models.RoomData;

<h1>Dodaj nową sale</h1>

<hr />
<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <form asp-action="AddRoom">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Numer" class="control-label"></label>
                <input asp-for="Numer" class="form-control" />
                <span asp-validation-for="Numer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godzina" class="control-label"></label>
                <input asp-for="Godzina" class="form-control" />
                <span asp-validation-for="Godzina" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> 