#Welcome{
    margin-top:10%;
    text-align:center;
    width: 100%;
}
#options{
    margin-top:5%;
    width:100%;
    height:100px;
}
#options a {
  float: left;
  text-decoration: none;
  font-size: 25px;
  margin-left: 10%;
}

footer{
  margin-top:4%;
}

.pb-3{
    text-align:center;
}